{% trans_default_domain 'google_tag_manager' %}
<div class="modal fade" tabindex="-1" data-bs-backdrop="static" role="dialog" id="consent-modal">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'modal.cookie_title'|trans }}</h5>
            </div>
            <div class="modal-body">
                <p>{{ 'modal.cookie_notice'|trans }}</p>
                <a rel="nofollow noopener noreferrer" class="btn-block btn btn-link" href="{{ privacy_policy_uri }}"
                   style="display: inline-block;">{{ 'modal.link_privacy_policy'|trans }}</a>
                <button class="btn-block btn btn-link" type="button" data-bs-toggle="modal" data-bs-target="#modal-cookie-information">{{ 'modal.more_info'|trans }}</button>
            </div>
            <div class="modal-footer">
                <button id="cookie-accept" type="button" class="btn btn-success">{{ 'modal.action_accept'|trans }}</button>
                <button id="cookie-deny" type="button" class="btn btn-danger">{{ 'modal.action_reject'|trans }}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-cookie-information" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{ 'modal.cookie_information_title'|trans }}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deze website maakt gebruik van cookies om het functioneren en het gebruik van deze website te
                    verbeteren. Er zal op geen enkele wijze contact kunnen worden gemaakt met gebruikers door middel van
                    de cookies.<br>

                    <i id="cookie-bar-tracking" style="display: block;">
                        <br>Deze website maakt gebruik van tracking cookies, voor meer informatie kijk in de privacy
                        policy.<br>
                    </i>

                    <i id="cookie-bar-privacy-page" style="display: inline-block;">
                        <br>Voor meer informatie over het gebruik op deze website van cookies, lees onze <a
                                rel="nofollow noopener noreferrer" id="cookie-bar-privacy-link"
                                href="{{ privacy_policy_uri }}">{{ 'modal.link_privacy_policy'|trans }}</a>.<br><br></i>

                    <br>Door op <span>Accepteren</span> te klikken geef je toestemming aan deze website om cookies te
                    plaatsen.
                    <i id="cookie-bar-no-consent">
                        <br>
                        <br>Door op <span>Weigeren</span> te klikken geef je geen toestemming om cookies te
                        plaatsen en huidige cookies te verwijderen. Daardoor kan het zijn dat de website niet volledig
                        werkt.</i><br>

                    <br>Voor meer informatie over cookies, bezoek de website van de <a
                            rel="nofollow noopener noreferrer" target="_blank"
                            href="https://www.rijksoverheid.nl/onderwerpen/telecommunicatie/vraag-en-antwoord/mag-een-website-ongevraagd-cookies-plaatsen">Rijksoverheid</a>.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'modal.button_understand'|trans }}</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    const cookieName = 'cookiebar';
    let modal;

    const expirationTime = () => {
        const date = new Date();
        date.setTime(date.getTime() + 31556926 + 1000);
        return date.toUTCString();
    };
    const getCookieValue = (name) =>
        document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || '';

    const cookieResponse = (cookieValue) => {
        document.cookie = `${cookieName}=${cookieValue}; expires=${expirationTime()}; path=/`;
        modal.hide();
        location.reload();
    };

    document.addEventListener('DOMContentLoaded', () => {
        if (window.location.href.indexOf("{{ privacy_policy_uri }}") > -1) {
            return;
        }
        const CookieConsent = getCookieValue(cookieName);
        if (!['CookieAllowed', 'CookieDisallowed'].includes(CookieConsent)) {
            showConsentBar();
            modal = new bootstrap.Modal(document.getElementById('consent-modal'));
            modal.show();
        }
    });

    const showConsentBar = () => {
        document.getElementById('cookie-accept').addEventListener('click', () => cookieResponse('CookieAllowed'));
        document.getElementById('cookie-deny').addEventListener('click', () => cookieResponse('CookieDisallowed'));
    };
</script>
